
<div class='rqre_settings'>

<%= labelled_form_for :settings, @rqre_setting,
                             :url => {:controller => 'rqre_settings',
                             :action => 'edit', :project_id => @project, :tab => 'rqre_settings',
                             :setting_id => @rqre_setting.id}, 
                             :html => {:id => 'rqre_settings' } do |f| %>


  <div class="box tabular">
    <% tracker_ids = Tracker.all %>
      <p>
        <%= label_tag('settings[tracker_id]', l(:label_rqre_setting_tracker_id)) %>
        <%= select_tag('settings[tracker_id]', options_for_select(tracker_ids.collect{|c| [c.name, c.id]}, @rqre_setting['tracker_id'])) %>
      </p>

  <%= submit_tag l(:button_save) %>

  </div>
  <% end %>
</div>

