
<div class='settings_for_plugin'>
  <h2>Global Setting</h2>
  <p><%= content_tag(:label, l(:label_remp_gb1)) %><%= check_box_tag 'settings[remp_gb1]', true, @settings['remp_gb1'] == "true" %></p>

</div>

